body {
  background-color: #FFF7E3;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  grid-gap: 170px;
  padding-right: 40px;
}
@media (max-width: 650px) {
  .nav__list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}
.nav__list-form, .nav__list-item {
  width: 270px;
}
.nav__list-button {
  border-radius: 15px;
  width: 270px;
  height: 50px;
  border: 1px solid #FFF7E3;
  background-color: #cc9e78;
  cursor: pointer;
}
.nav__list-button .nav__list-text {
  font-family: "Gluten", cursive;
  font-weight: bold;
  font-size: 20px;
  color: #fef6e3;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header__content img {
  width: 30%;
  height: auto;
  margin: 10px;
}
@media (max-width: 1200px) {
  .header__content img {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .header__content img {
    width: 70%;
  }
}