
// body {
//   background-color: #FFF7E3;
// }

// a {
//   text-decoration: none;
// }

// li {
//   list-style: none;
// }

// .container {
//   max-width: 1200px;
//   margin: 0 auto;
// }

// .nav {
//   &__list {
//     display: grid;
//     grid-template-columns: repeat(3, 270px);
//     justify-content: center;
//     grid-gap: 170px;
//     padding-right: 40px;

//   }

//   &__list-form,
//   &__list-item {
//     width: 270px;
//   }

//   &__list-button {
//     border-radius: 15px;
//     width: 270px;
//     height: 50px;
//     border: 1px solid #FFF7E3;
//     background-color: #cc9e78;
//     cursor: pointer;

//     .nav__list-text {
//       font-family: "Gluten", cursive;
//       font-weight: bold;
//       font-size: 20px;
//       color: #fef6e3;
//     }
//   }
// }
body {
  background-color: #FFF7E3;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 80%; 
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* changed from 25% to 1fr */
    justify-content: center;
    grid-gap: 15%; /* kept the percentage value */
    padding-right: 5%; /* kept the percentage value */

  }

  &__list-form,
  &__list-item {
    width: 100%; /* changed from 25% to 100% */
  }

  &__list-button {
    border-radius: 15px;
    width: 100%; /* changed from 25% to 100% */
    height: 50px; /* reverted to the original fixed height */
    border: 4px solid #431303;
    background-color: #cc9e78;
    cursor: pointer;

    .nav__list-text {
      font-family: "Gluten", cursive;
      font-weight: bold;
      font-size: 20px; /* reverted to the original fixed font size */
      color: #fef6e3;
      
    }
  }
}
@media screen and (max-width: 1200px){
  .container{
    max-width: 970px;
    padding-left: 1px;
  }
  .nav__list-button {
    width: 85px; /* changed from 25% to 100% */
    height: 50px; /* reverted to the original fixed height */
    .nav__list-text{
      font-size: 13px;
    }
}
}
@media screen and (max-width: 992px){
    .container{
      max-width: 750px;
      padding: 0;
    }
}
@media screen and (max-width: 767px){
  .container{
    max-width: none;
  }
}
