.header__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
 img{
        width: 30%; 
        height: auto;
        margin: 10px; 
    }
    @media (max-width: 1200px) {
      img {
        width: 40%; 
      }
    }
  
    @media (max-width: 768px) {
      img {
        width: 70%; 
      }
    }
  }