.backg{
 background-image: url(/images/wave1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
    margin-bottom: -1px;
}
.backg2{
    background-image: url(/images/wave2.svg);
    background-repeat: no-repeat;
   margin-top: -5px;
    height: 600px;
    width: 100%;
}
.container.road{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     justify-content: center;
     align-items: center;
}
.first {
     height: 550px;
     background-color: #f1ccaf;
}
.roadmap{
    width: 43rem;
    
}

.swave{
    background-color: #e6bfa0;
}

.description{
    font-family: "Gluten", cursive;
    font-weight: bold;
    font-size: 25px;
    color: #fef6e3;
    position: relative;
}

@media screen and (max-width: 992px) {
    .container.road{
        display: flex;
        flex-direction: column;
    }
    .road{
        display: flex;
        flex-direction: column;
    }
    .roadmap{
        max-width: 20rem;
        
        
    }
   .backg2{
    width: 24.8rem;
   }
    .description{
        text-wrap: wrap;
        font-size: calc(24px + 16 * (100vw / 992));
        
    }
  }




