// 
.backg {
    background-image: url("../../images/wave1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
    margin-bottom: -1px;
  }
  
  .backg2 {
    background-image: url("../../images/wave2.svg");
    background-repeat: no-repeat;
    height: 212px;
    width: 100%;
  }
  
  .container.road {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  
  .first {
    height: 550px;
    background-color: #f1ccaf;
  }
  
  .roadmap-d {
    width: 33rem;
  }
  
  .swave {
    background-color: #e6bfa0;
  }
  
  @media screen and (max-width: 992px) {
    .header__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 20rem;
        }
    }
    .first {
      height: 700px;
    }
  
    .container.road {
      display: flex;
      flex-wrap: wrap; 
      gap: 0;
      align-items: center;
      justify-content: center;
    }
  
    .road {
      display: flex;
      flex-direction: column;
    }
  
    .roadmap-d,
    .roadmap { 
      max-width: 19rem;
      max-height: 40rem;
    }
    .container.desc{
        flex-direction: column;
        .desc1{
            width: 20rem;
        }
        .desc2{
            width: 20rem;
        }
    }
  }
  
  .container.desc{
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  


